<div class="blog-container">
  {{#each blogs}}
    <div class="card mb-3 blogs">
      <div class="card-header bg-primary text-white">
        <h3 id="cat-qa"><span class="bold">Title:</span>
          <span
            class="border rounded fs-4 text-white bg-danger p-1 b-1"
          >{{this.title}}</span>
        </h3>
      </div>
      <div class="card-body">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://picsum.photos/400/200" alt="Article Image" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title fs-3">By:
                  {{this.username}}
                  <span
                    class="text-success"
                    id="postid"
                  >POST_ID:{{this.id}}</span></h5>
                <div class="collapse" id="collapse-{{@index}}">
                  <p class="card-text">{{this.content}}
                  </p>
                </div>
                <div class="p-4">
                  <button class="btn btn-sm btn-secondary">
                    <i class="bi bi-hand-thumbs-up"></i>
                  </button>
                  <button class="btn btn-sm btn-secondary">
                    <i class="bi bi-share"></i>
                  </button>
                  <br />
                  <br /><span
                    class="border rounded p-1 m-2 bg-primary text-white"
                  >Posted: {{this.createdAt}}</span>
                  <br />
                  <br /><span
                    class="border rounded p-1 m-2 bg-success text-white"
                  >Updated: {{this.updatedAt}}</span>
                </div>
                <a
                  class="btn btn-primary m-2"
                  data-bs-toggle="collapse"
                  href="#collapse-{{@index}}"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapse-{{@index}}"
                >
                  Read more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>